@import '@/app/styles/_mixins.module.scss';
@import '../../../styles/color.module';
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap : 3rem;
  width: 41.5rem;
  .title{
    font-size: 3.6rem;
    font-weight: bold;
    text-align: center;
  }
  .loginForm{
    display: flex;
    flex-direction: column;
    gap:2rem;
    width: 100%;
    .subTitle{
      font-size: 1.6rem;
      font-weight: 500;
      color: $color-10;
    }
    .loginInput{
      font-size: 1.6rem;
      padding: 1.8rem 2.0rem;
      border-radius: 1.2rem;
      border: solid 0.1rem $color-1;

    }
    .submit{
      display: flex;
      gap: 2rem;
      justify-content: space-between;
      margin-top:2rem;
      .closeBtn{
        width: 100%;
        border:0;
        padding:1.6rem 3.6rem;
        background-color: white;
        border-radius: 99.9rem;
        font-size: 2rem;
        cursor : pointer;

      }
      .loginBtn{
        width: 100%;
        border:0;
        padding:1.6rem 3.6rem;
        background-color: #250996;
        color: white;
        border-radius: 99.9rem;
        font-size: 2rem;
        cursor:pointer;
      }
    }
}
}

@include mobile{
  .container{
    width: 35.3rem;
    .title{
      font-size: 2.4rem;
    }
    .closeBtn{
      display: none;
    }
  }
}
