@import '../../../styles/color.module';
.TextInput{
	border: 0;
	font-size:1.6rem;
	width:25rem;
	&:focus{
		outline: none;
	}
}
.Container{
	display: flex;
	flex-direction: column;
	gap : 2rem;
	padding: 24rem 0 20rem;
}
.Title{
	font-size:3.6rem;
	font-weight: bold;
	text-align:center;
}
.subTitle{
	font-size:1.6rem;
	font-weight: 500;
	text-align:center;
}
.SignUpForm{
	width: 41.5rem;
	display: flex;
	flex-direction: column;
	gap:2rem;
}
.SignupSubForm{
	display: flex;
	flex-direction: column;
	gap:2rem;
}
.FormTitle{
	text-align: left;
	font-size:1.6rem;
	font-weight: 500;
	color:#4e4e53
}
.TextDiv{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:2rem;
	border : solid 0.1rem #efeff4;
	border-radius: 1.2rem;
	&::placeholder{
		color: $color-2;
	}
}
.IdCheckBtn{
	border: 0;
	border-radius: 1.2rem;
	padding: 0.8rem 1.6rem;
	background-color: #250996;
	color : white;
	cursor : pointer;
}
.GenderForm{
	border:0;
	width:100%;
	font-size:1.6rem;
	background-color: white;
	display: flex;
	justify-content: space-between;
}
.GenderList{
	display: flex;
	flex-direction: column;
	gap:1rem;
	box-shadow: 10px 10px 10px #efeff4;
	button{
		border: 0;
		width: 100%;
		padding: 1.8rem 2.0rem;
		background-color: transparent;
		font-size: 1.6rem;
		font-weight: 500;
		text-align: left;
	}
	button:hover{
		background-color: #efeff4;
	}
}
.IntroduceTextarea{
	border: 0;
	width: 100%;
	height: 50vh;
	font-size:1.6rem;
	&:focus{
		outline: none;
	}
}
.NomalSusseceBtn{
	border: 0;
	width: 100%;
	font-size:2rem;
	font-weight: 500;
	border-radius: 99.9rem;
	background-color: #250996;
	color: white;
	padding: 1.6rem 0;
	cursor:pointer;
}
.SusseceBtn{
	border: solid 0.1rem #efeff4;
	width: 100%;
	font-size:2rem;
	font-weight: 500;
	border-radius: 99.9rem;
	background-color: #ffffff;
	color: #4e4e53;
	padding: 1.6rem 0;
	cursor:pointer;
}
