$color-1: #efeff4;
$color-2: #d7d7dc;
$color-3: #bdbdc2;
$color-4: #a3a3a8;
$color-5: #8f8f94;
$color-6: #7b7b80;
$color-7: #747479;
$color-8: #69696e;
$color-9: #5f5f64;
$color-10: #4e4e53;
$main-color: #250996;
$red-color: #f55454;
