$color-1: #d7d7dc;
$color-2: #bdbdc2;
$color-3: #a3a3a8;
$color-4: #8f8f94;
$color-5: #7b7b80;
$color-6: #747479;
$color-7: #69696e;
$color-8: #5f5f64;
$color-9: #4e4e53;
$main-color: #250996;
$red-color: #f55454;
