@import './mixins.module';

.container {
	padding: 0 10rem;
	width: 100%;
}

@include desktop {
	.container {
		padding: 0 5rem;
	}
}

@include tablet {
	.container {
		padding: 0 2.5rem;
	}
}

@include mobile {
	.container {
		padding: 0 2rem;
	}
}
