@import './mixins.module';

@include desktop {
	.container {
		padding: 0 10rem;
	}
}

@include tablet {
	.container {
		padding: 0 3rem;
	}
}

@include mobile {
	.container {
		padding: 0 2rem;
	}
}
