@import '../styles/color.module';

// top Content
.topContent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1.6rem;
	margin-bottom: 6rem;

	.singleContentWrapper {
		flex: 1;
		display: flex;
		flex-direction: column;
		width: calc(100% / 2 - 0.8rem);
	}
}

// Post(Pick) Content
.content {
	.contentWrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 2rem;
	}
}
