.header {
	display: flex;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 12rem;
	background: #fff;
}

.headerInner {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.logo {
		width: 16rem;
		height: 4.2rem;

		a {
			display: block;
		}
	}

	.headerList {
		display: flex;
		align-items: center;
		gap: 2rem;
	}
}
