@import '../styles/color.module';

.wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 12rem;
	width: 100%;
}

.mainWrapper {
	width: 100%;

	.inner {
		display: flex;
		align-items: stretch;

		.leftSection {
			width: 26rem;
			// width: 16%;
			height: 100%;

			.leftSectionInner {
				display: flex;
				align-items: flex-start;
				flex-direction: column;
				flex-grow: 1;
				flex-shrink: 0;
				width: 26rem;
				// width: 16%;
				height: 100%;
				// background: #0ff;

				&Fixed {
					display: none;
				}
			}
		}

		.contentSection {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			flex-shrink: 1;
			width: 100%;
			min-height: 100dvh;
			color: $color-2;

			.contentLayout {
				padding: 0 0 0 6%;
				width: 100%;
			}
		}
	}
}
