@import '../styles/color.module';

.wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 12rem;
	width: 100%;
}

.mainWrapper {
	width: 100%;

	.inner {
		display: flex;
		align-items: stretch;

		.leftSection {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			flex-grow: 1;
			flex-shrink: 0;
			// width: 28rem;
			width: 16%;
			height: 100%;
			// background: #0ff;

			.leftSectionInner {
				// position: fixed;
				// top: 54rem;
				width: 100%;
				height: 100%;
			}
		}

		.contentSection {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			flex-shrink: 1;
			width: 100%;
			min-height: 100dvh;
			// background: #f0f;
			color: $color-1;
		}
	}
}

.contentLayout {
	padding: 0 0 0 4%;
	width: 100%;
}

// Main Single Card
// title

// top Content
.topContent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1.6rem;
	margin-bottom: 6rem;

	.singleContentWrapper {
		flex: 1;
		display: flex;
		flex-direction: column;
		width: 49%;
	}
}

// Pick Content
.content {
	.pickCardWrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 2rem;
	}
}
