@import '../../styles/color.module';

// ProfileStyle
.profileStyleWrapper {
	width: 41.5rem;

	.profileBgImg {
		width: 100%;
		height: 56rem;
		border: 0.1rem solid $color-1;
		border-radius: 2.6rem;
	}

	.leftContentWrapper {
		position: relative;
		top: -6.2%;
		left: 0;
		padding: 0rem 2rem;
		background: #fff;
		border: 0.1rem solid $color-1;
		border-radius: 2rem;

		.userProfileInner {
			.userProfile {
				position: relative;
				padding: 2rem 0;

				.profileImg {
					position: absolute;
					top: 10%;
					left: 16%;
					transform: translate(-50%, -50%);
					width: 12.8rem;
					height: 12.8rem;
				}

				.nameWrap {
					display: flex;
					flex-direction: column;
					gap: 0.4rem;
					padding-left: 14.3rem;

					.name {
						color: #000;
						font-size: 2.4rem;
						font-weight: bold;
					}

					.nameState {
						color: $color-5;
						font-size: 1.6rem;
					}
				}

				.heart {
					position: absolute;
					top: 31.33%;
					right: 0;
					transform: translate(-50%, -50%);
					width: 2.4rem;
					height: 2.4rem;
					cursor: pointer;
				}
			}
		}

		.buttonWrap {
			display: flex;
			gap: 1rem;

			button {
				flex: 1;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 0.8rem;
				height: 6rem;
				font-size: 1.6rem;
				font-weight: bold;
				border-radius: 1.6rem;
				color: #fff;

				&:first-child {
					background: $color-1;
				}
				&:last-child {
					background: $main-color;
				}

				img {
					width: 1.6rem;
					height: 1.6rem;
				}
			}
		}

		.userInfoWrapper {
			display: flex;
			flex-direction: column;
			gap: 3rem;
			padding: 3rem 0 7.4rem;

			.userInfo {
				.userText {
					font-size: 1.6rem;
					font-weight: bold;
					color: #000;
				}
				.info {
					margin-top: 1rem;
					font-size: 1.5rem;
					color: $color-9;
				}
			}
		}
	}
}

// PostPofileStyle
.postProfileWrapper {
	.profileTop {
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 5.5rem 0rem 1.5rem;

		.TitleNameWrap {
			position: absolute;
			top: -50%;
			left: 6%;

			img {
				width: 12.8rem;
				height: 12.8rem;
			}
			.nameWrap {
				margin-top: 2rem;
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 0.4rem;

				.nickname {
					font-size: 2.4rem;
					font-weight: bold;
					color: #000;
				}

				.nicknameState {
					font-size: 1.6rem;
					color: $color-6;
				}
			}
		}

		.profileButtonWrap {
			display: flex;
			flex-direction: row;
			gap: 1rem;
			padding-left: 36%;

			a {
				flex: 1;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				gap: 0.8rem;
				padding: 2rem 0;
				border-radius: 1.6rem;

				img {
					width: 1.4rem;
					height: 1.4rem;
				}

				span {
					font-size: 1.6rem;
					font-weight: bold;
				}

				&:first-child {
					background: $color-1;
					color: $color-4;
				}

				&:last-child {
					background: $main-color;
					color: #fff;
				}
			}
		}
	}
	.profileBgImg {
		width: 100%;
		height: 42rem;
	}

	.profileContentWrapper {
		display: flex;
		flex-direction: column;
		gap: 4rem;

		.profileContentTitle {
			padding: 2rem 0;
			border-top: 0.1rem solid $color-8;

			.uploadDate {
				color: $color-4;
				font-size: 1.6rem;
			}

			.title {
				margin-top: 0.6rem;
				color: #000;
				font-size: 2.4rem;
				font-weight: bold;
			}

			.price {
				margin-top: 1.6rem;
				color: $color-5;
				font-size: 1.6rem;

				strong {
					color: $red-color;
					font-size: 2.4rem;
					font-weight: bold;
				}
			}
		}
		.userInfoWrap {
			display: flex;
			flex-direction: column;
			gap: 4rem;

			.userInfoBundle {
				display: flex;
				flex-direction: column;
				gap: 2rem;

				.userInfoTitle {
					color: $color-10;
					font-size: 1.6rem;
					font-weight: bold;
				}

				.userInfo {
					display: flex;
					flex-direction: row;
					align-items: center;
					padding: 1.6rem 2.4rem;
					color: $color-10;
					font-size: 1.6rem;
					border: 0.1rem solid $color-2;
					border-radius: 1.6rem;

					span {
						display: block;
						width: 12.5rem;
						font-weight: bold;
					}

					p {
						flex: 1;
					}
				}

				.userInfoContent {
					padding: 1.6rem 2.4rem;
					color: $color-10;
					font-size: 1.6rem;
					border: 0.1rem solid $color-2;
					border-radius: 1.6rem;
				}
			}
		}
	}
}
